/* regole di base  */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner-large{
    max-width: 1200px;
    margin: 0 auto;
}

.conteiner-small{
    max-width: 1000px;
    margin: 0 auto;
}
html{
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
}
.box {
    border: 1px solid black;
}
.col-33, .col{
    border: 1px solid #d0d0d3;
}
/* padding /margin */
.padding-30{
    padding-bottom: 30px;
}
.padding-35{
    padding-bottom: 35px;
}
.padding-40{
    padding-bottom: 40px;
}

.padding-70{
    padding-bottom: 70px;
}

.padding{
    padding-right: 40px;
    
}

.padding-h3-col-33 {
    padding-bottom: 22px;
}


/* colonne  */

.col{
    width: 100%;
}

.col-grow{
    flex-grow: 1;
}

.col-30{
    width: 30%;
}
.col-33{
    width: calc(100% / 3 );
}
.col-60{
    width: 60%;
}
.col-70{
    width: 70%;
}
.col-73{
    width: 73%;
}
.col-27{
    width: 27%;
}
/* box  */
  
.box-hero{
    width: 100%;
    display: flex;
    position: relative;
    bottom: -80px; 
    
}


/* header  */

header {
   
    display: flex;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-right{
    align-content: center;
}

header nav ul li a{
    text-decoration: none;
  
}
.logo{
    height: 30px;
   
}


.btn{
    border: none;
    background-color: #0061ff;
    padding: 8px 12px ;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-family: inherit;
    }
    

/* fine header  */

/* tipografia  */
body{
    font-family: 'Open Sans', sans-serif;

}
.hero .text-title{
    font-family: inherit;
    font-size:65px;
    font-weight: 800;
    padding-right: 80px;  
      
}

h2{
    font-size: 45px;
    font-family: inherit;
    font-weight: 700;
}

h3{
    font-family: inherit;
    font-weight: 700;
    font-size:27px ;
}
h4{
    
    font-family: inherit;
    font-weight: 700;
}



.text-col-33{
    padding: 35px 30px 0 30px;
    font-family: inherit;
}

.color-grey{
    color:#666697;
}

.box-card h4{
    font-size: 20px;
    font-weight: 700;
    font-family: inherit;
}
/* inizio main  */
.hero{
    /* padding-top: 100px; */
    background-color: #b4d0e7;
    margin-bottom: 170px;
    padding-top: 80px;
    
}

#arrow-down{

    font-size: 20px;
    font-weight: 900;
    font-size: 45px;
    color: black;
}

input {
    padding: 10px;
    color: blue;
}

.btn-radio{
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    
}

 .box-tariffario{
    max-width: 100%;
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
}

.text-col-top{
border-bottom: 1px solid #d0d0d3;
display: flex;
padding: 13px 0;
justify-content: center;
align-items: center;
gap: 5px;

}

.price-col-33{
    padding-bottom: 10px;
    font-weight: 700;
    font-family: inherit;
}

.conteiner-top-col-33 .ul-col-33{
    margin-top: 35px;
   
}
.conteiner-top-col-33 .ul-col-33>ul{
   
   list-style: none;
}
.conteiner-top-col-33 .ul-col-33>ul li {
    display: flex;
    /* align-items: center; */
    gap:5px;
    padding-bottom: 20px;
}

.conteiner-top-col-33 .ul-col-33>ul li>div + .text-col-100+p{
    font-size: 14px;
    font-family: inherit;
}

 .btn-tariffario{
    text-align: center;
    padding: 13px ;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.buy-col-33{
    font-size: 13px;
    color: #0000ee;
    font-family: inherit;
    padding-bottom: 33px;
}

.ul-col-33 hr{
    max-width: 50px;
    color:#d0d0d3 ;
}

.conteiner-bottom-col-33{
    padding-top: 45px;
    font-family: inherit;
  
}

 .conteiner-bottom-col-33  .ul-col-33 i {
    color: #187fff;
    font-size: 20px;
}
.box-tariffario .col-33{
    padding-bottom: 20px;
}

.box-col-bottom{
display: flex;
margin-bottom: 140px;
}
.text-col-100{
    padding-top: 55px;
    padding-bottom: 30px;
}
.btn-col-100{
    padding: 14px 40px;
    white-space: nowrap;
}
 
.display-flex{
    display: flex;
}
.box-col-img{
    margin-bottom: 160px;
}

.box-col-img .conteiner-small .col-60 img{

    max-width: 600px;
    padding-right: 50px;
}

.box-col-img .conteiner-small .col-40{
    padding-top: 60px ;
    padding-right: 45px;
}

.btn-trasparent{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    background-color: white;
    color: black;
}

.box-card{
    display: flex;
    flex-wrap: wrap;
    margin-top: 83px; 
    justify-content: space-between;
     gap: 40px;
     row-gap: 45px;
     margin-bottom: 180px;
}

.box-card .col-33{
   
    width: calc(100% / 3 - 40px);
    border: none;
}

.box-card .col-33 h4{
    padding-top: 10px;
    padding-bottom: 30px;
}

.box-team-drop h3 {
    padding-bottom: 60px;
    font-size: 30px;
    max-width: 600px;
}

.box-clients{
     width: 100%;
    display: flex;
   justify-content: space-between;
    border: none;
    margin-top: 145px;
}



.cards-clients{
    width: 100%;
    min-height: 320px;
    background-color: red;
    
    justify-content: center;
    align-items: center;
    display: flex;
    
}
 .item-card{
    display: flex;
 }

 .col-grow .cards-clients{
    background-color: #f5f5f5;
    border: none;
    min-height: 100%;
 }



 .box-clients .col-33 .item-card .logo-cards{
    height: 60px;
 }
 .color-green{
    background-color: #a2d39b;
 }
 .color-lightblue{
    background-color: #0093ce;
 }
 .color-purple{
    background-color: #61082b;
 }

 .color-red{
    background-color: #ff1c1c;
 }
 .color-dark-red{
    background-color: #d5001f;
 }
 .color-blue{
    background-color: #0d2481;
 }
 .color-lightgrey{
    background-color: #b4d0e7;
 }
 .color-yellow{
    background-color: #ffd830;
 }