/* regole di base  */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner-large{
    max-width: 1200px;
    margin: 0 auto;
}

.conteiner-small{
    max-width: 1000px;
    margin: 0 auto;
}
html{
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
}
.box {
    border: 1px solid black;
}
.box>*{
    border: 1px solid black;
}
/* padding /margin */
.padding-30{
    padding-bottom: 30px;
}
.padding-35{
    padding-bottom: 35px;
}
.padding-40{
    padding-bottom: 40px;
}

.padding-70{
    padding-bottom: 70px;
}



/* colonne  */

.col{
    width: 100%;
}

.col-30{
    width: 30%;
}
.col-33{
    width: calc(100% / 3);
}

.col-70{
    width: 70%;
}
/* box  */
  
.hero .box{
    width: 100%;
    display: flex;
    position: relative;
    bottom: -80px;
}



/* header  */

header {
   
    display: flex;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-right{
    align-content: center;
}

header nav ul li a{
    text-decoration: none;
  
}
.logo{
    height: 30px;
   
}


.btn{
    border: none;
    background-color: #0061ff;
    padding: 10px 17px ;
    color: white;
    cursor: pointer;
    font-size: 16px;
    }
    

/* fine header  */

/* tipografia  */
body{
    font-family: 'Open Sans', sans-serif;

}
.hero .text-title{
    font-family: inherit;
    font-size: 65px;
    font-weight: 900;
     max-width:1000px;
}


/* inizio main  */
.hero{
    padding-top: 100px;
    background-color: #b4d0e7;
    margin-bottom: 95px;
}

#arrow-down{

    font-size: 20px;
    font-weight: 900;
    font-size: 45px;
    color: black;
}

input {
    padding: 10px;
    color: blue;
}